<ion-view view-title="Connections">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/chat/{{chat.user.id}}?eventId={{chat.event.id}}">
        <img ng-src="{{chat.event.imgUrl}}">
        <h2>{{chat.event.name}} with {{chat.user.name}}</h2>
        <img class='connections-profile-img' ng-src="{{chat.user.profileImage}}">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
