<ion-view hide-back-button="true">
  <ion-nav-buttons side="primary">
    <a class='button button-clear settings-button' href=''>Settings</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a class='button button-clear connections-button' href='#/connections'>Connections</a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list list-inset" style="margin-top:0">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="I'm up for ..." ng-model="filterText">
      </label>
    </div>
    <ion-list type="card">
      <ion-item ng-repeat="event in events | filter:filterText"
                class="item-thumbnail-left" href="#/event/{{event.id}}">
          <img ng-show="event.imgUrl" ng-src="{{event.imgUrl}}">
          <h2>{{event.name}}</h2>
          <h3>{{event.date}}</h3>
          <h3>{{event.users.length}} Up4It</h3>
          <h3 ng-show="event.userIsUpForIt">You're Up4It</h3>
      </ion-item>
    </ion-list>
  </ion-content>
  <a href="#/new-event" class="button button-block button-balanced" style="position:absolute;bottom:0;left:10px;right:10px;">Something New!</a>
</ion-view>
