<ion-view view-title="Events">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="filterText">
      </label>
    </div>
    <ion-list type="card">
      <ion-item ng-repeat="item in events | filter:filterText"
                class="item-thumbnail-left" href="#/event/{{item.id}}">
          <img ng-show="item.imgUrl" ng-src="{{item.imgUrl}}">
          <h2>{{item.name}}</h2>
          <h3>{{item.date}}</h3>
          <h3>{{item.users.length}} Up4It</h3>
          <h3 ng-show="item.userIsUpForIt">You're Up4It</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
