<ion-view view-title="">
  <ion-content>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img ng-src="{{event.imgUrl}}">
        <h2>{{event.name}}</h2>
        <p>{{event.description}}</p>
      </div>
    </div>


    <ion-list type="card">
      <ion-item ng-repeat="user in users | filter:filterText"
                class="item-thumbnail-left" href="#/profile/user.profile.id">
          <img ng-src="{{user.profile.profileImage}}">
          <h2>{{user.profile.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
