/* Empty. Add your own CSS if you like */
.button-large.button-icon:before {
  font-size: 50px;
}

.pull-right {
  float:right;
}
.pull-left {
  float:left;
}
.faded-pane {
  position:absolute;
  top:10px;
  bottom:10px;
  left:10px;
  right:10px;
  background:rgba(0,0,0,.2);
  color:white;
  text-align:center;
}
.faded-pane.bottom {
  top:auto;
  bottom:10px;
}
.faded-pane.top {
  top:10px;
  bottom:auto;
}
.faded-pane input {
  background:none;
  color:white;
}
input.h1 {
  font-size: 36px;
  line-height: 1.2;
  height:auto;
}


.login-elements {
  text-align: center;
}

.logo {
  max-width: 90%;
  padding: 5%;
}

.login-button {
  display: block;
}

.login-button img {
  max-width: 90%;
  padding: 7%;
}

.connections-profile-img {
  position: absolute;
  top: 16px;
  right: 40px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.text-bubble {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #fff;
  background: #075698;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background: -moz-linear-gradient(#2e88c4, #075698);
  background: -o-linear-gradient(#2e88c4, #075698);
  background: linear-gradient(#2e88c4, #075698);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.text-bubble:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: #075698 transparent;
  display: block;
  width: 0;
}
.text-bubble.right {
  margin-right: 40px;
  background: #075698;
}
.text-bubble.right:after {
  top: 16px;
  right: -40px;
  bottom: auto;
  left: auto;
  border-width: 15px 0 0 40px;
  border-color: transparent #075698;
}
.text-bubble.left {
  margin-left: 40px;
  background: #075698;
}
.text-bubble.left:after {
   top: 16px;
   left: -40px;
   bottom: auto;
   border-width: 15px 40px 0 0;
   border-color: transparent #075698;
 }
.panel-shown,
.panel-hidden {
  margin:0;
}
.panel-shown {
  height: 100%;
  width: 100%;
}
.panel-shown + .slide-in-panel {
  top:100%;
}
.panel-hidden + .slide-in-panel {
  top:204px;
  transition: top 1s ease-out;
}
.panel-hidden {
  width:100%;
  height:160px;
  transition: height 1s ease-out;
}
.event-image {
  max-width:90%;
  max-height:100%
}
.panel-hidden .event-image {
  max-width: 30%;
  transition: max-width 1s ease-out;
}


